{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>information Page</title>
       <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
       <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
        <style>
            .table{
                background-color: gold;
            }

        </style>
    </head>
   </body>
        <h1>用户列表</h1>
        <input type="button" class="btn btn-primary" value="submit">
        <img src="{% static '/img/1.png'%}" alt="">
            
        <script src="{% static 'js/jquery-3.7.1.min.js'%}"></script>
        <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js'%}"></script>
   <body>
</html>